<app-navigationbar></app-navigationbar>
<!--Main Navigation-->
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-4 mb-8">
    <div class="container">
      <!--Grid row-->
      <div class="row">
      <!--Grid row-->
    </div>
     <!--Grid column-->
        <div class="col-md-8 mb-6">
          <!--Section: Post data-mdb-->
          <section class="border-bottom mb-4">
            <img src="../../../assets/gestion1.jpg"
              class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
          </section>
          <!--Section: Text-->
          <section>
            <p>
              {{parrafo1}}
            </p>
            <p>
              {{parrafo2}}
            </p>

            <p class="note note-light">
              {{parrafo3}}
              {{parrafo4}}
            </p>
            <img src="https://mdbootstrap.com/img/new/slides/010.jpg" class="img-fluid shadow-1-strong rounded-5 mb-4"
              alt="" />
            <p>
              {{parrafo5}}
            </p>
          </section>
          <!--Section: Text-->
          <!--Section: Author-->
          <section class="border-bottom mb-4 pb-4">
            <div class="row">
              <div class="col-3">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(23).jpg"
                  class="img-fluid shadow-1-strong rounded-5" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Sebastian Abalos</strong></p>
                <a href="" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                </p>
              </div>
            </div>
          </section>
          <!--Section: Author-->
        </div>
      </div>
  </main>
  <!--Main layout-->
  <app-footer></app-footer>